input {
  display: grid;
  padding: 10px;
  filter: blur(4px) contrast(20) hue-rotate(53deg);
  background: #fff;
  mix-blend-mode: darken;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:before {
  content:"";
  width: 300px; /* control the size */
  aspect-ratio: 3;
  cursor: pointer;
  transition: 3.5s;
  background: linear-gradient(60deg,#f0f 49%,#0ff 51%) calc(100% - var(--p,0%))/240% 100%;
  --g:/calc(400%/15) 20% repeat-x linear-gradient(90deg,#000 75%,#0000 0);

}
body:has(input:checked) {
  --p: 100%;
}
input:checked {
  --p: 100%;
}


body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content:center;
  background: linear-gradient(60deg,#e9e9c3 49%,#c6dfff 51%) var(--p,0%)/280% 100%;
  transition: .5s;
}

html {
  background: #fff;
}
